
*{
	box-sizing: border-box;
}

body {
	height: 99vh;
	margin: 1px;
	padding: 3px;
	background: #fff;
	border: 1px solid lightblue;
	border-radius: 6px;
	overflow: hidden;
}

label, p, h1, h2, h3, h4, h5, address {
	text-align: left;
	width: 100%;
	vertical-align: middle;
	white-space: nowrap;
	padding-left: 20px !important;
	padding-right: unset;
}


.align-natural {
	text-align: left;
	padding-left: 20px !important;
	padding-right: unset;
}

.align-opposite {
	text-align: right;
	padding-left: unset;
	padding-right: 20px !important;
}

.align-center {
	text-align: center;
	padding-left: unset;
	padding-right: unset;
}


.icon-align-opposite {
	position: absolute;
	right: 5px;
	top: 10px;
	pointer-events: none;
	color: cornflowerblue;
	font-size: 16px;
}
