
<div class="tab-pane tframe" id="tab7" style="margin-top:-2vh; height:71vh;">
	<div class="form-horizontal" >
		<div id="container-fluid">
			<div class="col-xs-12" id="mapcanvas"
				 style="height:70vh; border-radius:3px;"></div>
		</div>
	</div>
</div>
