
<div class="tab-pane tframe" id="tab4">
	<div class="form-horizontal" style="padding-top: 5px;">
		<div class="row form-group col-12" style="text-align:center;">
			<label class="col-form-label label-align-opposite" style="font-size:18px">@Html.Localize("Got_There")</label>
		</div>
		<div class="cameraFrame">
			<i class="fa fa-camera"></i>
			<div class="cameraPhoto"></div>
			<input type="file" accept="image/*" capture data-file="Before1">
		</div>
		<div class="cameraFrame">
			<i class="fa fa-camera"></i>
			<div class="cameraPhoto"></div>
			<input type="file" accept="image/*" capture data-file="Before2">
		</div>`
		<div class="cameraFrame">
			<i class="fa fa-camera"></i>
			<div class="cameraPhoto"></div>
			<input type="file" accept="image/*" capture data-file="Before3">
		</div>
		<div class="row form-group col-12" style="text-align:center;">
			<label class="col-form-label label-align-opposite" style="font-size:18px">@Html.Localize("Leave")</label>
		</div>
		<div class="cameraFrame">
			<i class="fa fa-camera"></i>
			<div class="cameraPhoto"></div>
			<input type="file" accept="image/*" capture data-file="After1">
		</div>
		<div class="cameraFrame">
			<i class="fa fa-camera"></i>
			<div class="cameraPhoto"></div>
			<input type="file" accept="image/*" capture data-file="After2">
		</div>
		<div class="cameraFrame">
			<i class="fa fa-camera"></i>
			<div class="cameraPhoto"></div>
			<input type="file" accept="image/*" capture data-file="After3">
		</div>
	</div>
</div>
