

<footer class="footer border-top text-muted" style="margin-top:5px;">
	<div class="container" style="margin-top:-2px;">
		<div id="eid_site">
			<a href="http://www.unistep.co.il" target="_blank">Site by: &nbsp; Unistep Information Systems LTD</a>
		</div>

		<div id="eid_status">
		</div>
	</div>
</footer>

<div id="eid_loader" class="loader">
	<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
	<span class="sr-only">Loading...</span>
</div>

