
@using System.Linq

@model uResponsiveRow

<div class="row form-group col-12">
	<label class="label-align-center">
		<input id="@Model.elementID" data-bind="@Model.boundColumn"
			   type="checkbox"/>  @Html.Localize(Model.promptName)
	</label>
</div>
